@charset "UTF-8";

/*body {
	height: 125vh;
	margin-top: 80px;
	padding: 30px;
	background-size: cover;
	font-family: sans-serif;
}*/

/* body{
	background-image: url("homepage2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
} */

table{
	text-align: left;
}

header {
	background-color: #023047;
	position: fixed;
	left: 0;
	right: 0;
	top: 5px;
	height: 50px;
	display: flex;
	align-items: center;
	/* box-shadow: 0 0 25px 0 black; */
}

header * {
	display: inline;
}

header li {
	margin: 25px;
}

header li a {
	color: blue;
	text-decoration: none;
}

.dropbtn {
	background-color: #023047;
	color: white;
	padding: 15px;
	font-size: 16px;
	height: 20px;
	border: white;
}

.signout {
	background-color: rgb(255, 3, 3);
	color: white;
	padding: 15px;
	font-size: 16px;
	height: 20px;
	border: white;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #8ecae6;
}

.dropdown:hover .dropdown-content {
	
	display: block;
	
}

.dropdown:hover .dropbtn {
	background-color: #f79256;
	font-size: 17px;
}

h1{
	color: black;
	font-size: 50px;
	text-align: center;
}

.navigation{
	overflow:hidden;
	background-color:#04437b;
}

.navigation a{
 	color:white;
 	text-align: center;
 	float:left;
 	text-decoration: none;
 	font-size: 20px;
 	padding: 14px 16px;
}

.navigation a:hover{
	background-color: black;
	font-size: 21px;
	z-index:100;
}


table{
	text-align: left;
}

td{
	text-decoration: none;
}